*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "SF Pro Medium";
    src: url(/assets/fonts/SFPRODISPLAYMEDIUM.OTF);
}

@font-face {
    font-family: "SF Pro Regular";
    src: url(/assets/fonts/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
    font-family: "SF Pro Bold";
    src: url(/assets/fonts/SFPRODISPLAYBOLD.OTF);
}