#dark_section {
    background: black;
    
    .wrapper {
        display: flex;
        align-items: flex-start;
        column-gap: 88px;
        height: 360px;
    }
    .purple_iphone {
        display: flex;
        position: relative;
        align-items: center;
        justify-self: center;
    }
    .pro_max {
        margin-top: 84px;
        .iphone14 {
            margin: 0;
            padding: 0;
            font-family: "SF Pro Bold";
            font-style: normal;
            font-weight: 700;
            font-size: 56px;
            line-height: 67px;
            color: #ffffff;
            margin-bottom: 16px;
        }
        .pro_text {
            margin: 0;
            padding: 0;
            font-family: "SF Pro Medium";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #ffffff;
            margin-bottom: 24px;

        }
        .more_about {
            margin: 0;
            padding: 0;
            width: 160px;
            height: 56px;
            left: 454px;
            top: 220px;
            background: #0071e4;
            border-radius: 8px;
            border: none;
            &:hover{
                background-color: #2A93FD;
            }

            .in_btn {
                font-family: "SF Pro Medium";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #ffffff;
            }
        }
    }
}

@media only screen and (max-width: 768px) {

}